{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>ByteThyme</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
<div class="page-header">
    {% if user.is_authenticated %}
        <a href="{% url 'post_new' %}" class="top-menu"><span class="bi bi-plus"></span></a>
        <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="bi bi-pencil"></span></a>
        <p class="top-menu">{{ user.username }} <small>| <a href="{% url 'logout' %}">Logout</a></small></p>
    {% else %}
        <a href="{% url 'login' %}" class="top-menu"><span class="bi bi-lock"></span></a>
    {% endif %}
    <h1><a href="/">ByteThyme</a></h1>
</div>
<div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
<footer>
    <p>&copy; 2025 ByteThyme</p>
</footer>
</body>
</html>