{% extends 'blog/base.html' %}

{% block title %} You searched for {{ query }} {% endblock title %}

{% block content %}

    {% if query %}
        <div class="container text-center my-5">
            <div class="row">
                {% if posts %}
                    <h1 class="text-center">You searched for "{{ query }}"</h1>
                    {% for post in posts %}
                        <div class="col-md-4 my-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title"><a href="{% url 'post_detail' pk=post.pk %}"
                                                              class="text-decoration-none text-dark">{{ post.title }}</a>
                                    </h5>
                                    <h6 class="card-subtitle mb-2 muted">by {{ post.author }}</h6>
                                    <p class="card-text text-start">{{ post.content|truncatechars:200 }}</p>
                                    <small class="card-link">{{ post.date_published|date:"Y-m-d" }}</small>
                                    <a href="{% url 'post_detail' pk=post.pk %}" class="card-link">Read more</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <h3 class="text-center">No search results found for "{{ query }}"</h3>
                {% endif %}
            </div>
        </div>

    {% else %}
        <h1 class="text-center my-5">Please enter a search query</h1>
    {% endif %}
{% endblock content %}